<%= link_to "Back", root_path,class: "btn btn-outline-primary mt-2" %>

  <div class="row">
    <div class="col-md-12 card text-center mt-2 mb-1">
      <div class="card-body">
        <h2><%= @chamber.name %></h2>
        <img class="img-thumbnail" src="https://www.dagard.com/files/2020/03/euexpo-cuisine-516-lyon-02-2019-18-e1585214779656.jpg" alt="chambre froide">


        <ul class="list-group">
          <% @chamber.sondes.each do |sonde| %>
            <% if sonde.mesure == "température"%>
            Température
              <li class="list-group-item"><%= sonde.day %> : <%= sonde.valeur %>°</li>
            <% else %>
            Hygrométrie
              <li class="list-group-item"><%= sonde.day %> : <%= sonde.valeur %>%</li>
            <% end %>
          <% end %>
        </ul>

        <% if current_user.role == "admin" %>
          <%= link_to "Editer la chambre froide", edit_chamber_path(@chamber), class: "btn btn-primary mb-2" %>
        <% elsif current_user.role == "technicien" %>
          <%= link_to "Ajouter des température", new_chamber_sonde_path(@chamber), class: "btn btn-primary mb-2" %>
        <% else %>
          <% if @chamber.comments.any? && @chamber.sondes.any? %>
            <%= link_to "Passer en revue la journée", new_chamber_comment_path(@chamber), class: "btn btn-primary mb-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% if @chamber.comments.any? %>
  <% @chamber.comments.each do |comment| %>
    <% if comment.isValid === true %>
      <div class="alert alert-success">
        Données correctes
      </div>
    <% else %>
      <div class="alert alert-danger">
        Données incorrectes
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="alert alert-info">
    Données en cours d'analyse
  </div>
<% end %>
